{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container grey-text text-darken-4">
    <!-- Book Title -->
    <div class="row mb-0">
        <div class="col s12 center">
            <h4><strong>{{ book.title }}</strong></h4>
        </div>
    </div>
    <!-- Reviews Loop Display -->
    <div class="row mt-3">
        <div class="col s12 m4 l3 center grey-text text-darken-4">
            <div class="row mb-0">
                <img class="circle" src="{{ MEDIA_URL }}home-hero.png" height="50" width="50" alt="profile-pic">
            </div>
            <div class="row mb-0">
                <span class="name">John Doe</span>
            </div>
            <div class="row mb-0">
                <span class="name">User nº reviews</span>
            </div>
            <div class="row mb-0">
                <span class="name">User avg review</span>
            </div>
        </div>
        <div class="col s12 m7 l8 offset-m1 offset-l1">
            <div class="row mb-0">
                <span class="date left"><em>date stamp</em></span>
                <span class="eval right">rating/5.00</span>
            </div>
            <div class="row mt-3 mb-0">
                <span class="text">Review text</span>
            </div>
        </div>
    </div>
</div>
<!-- JS inits and meter-bars -->
<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
{% endblock %}
