{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container grey-text text-darken-4">
    <!-- Book & Info -->
    <div class="row mb-0 mt-3">
        <div class="col s12 center">
            <div class="col s12 center grey-text text-darken-4">
                <div class="row mb-0">
                    <img class="z-depth-2" src="{{ book.image_url }}" height="180" alt="Book-Cover">
                </div>
                <div class="row mb-0">
                    <h5 class="name">
                        <strong>{{ book.title }}</strong>
                    </h5>
                </div>
                <div class="row mb-0">
                    <h6 class="name">Nº Reviews: 
                        {% if book_reviews_found %}
                            {{ book_reviews_count }}
                        {% else %}
                            <em>0</em>
                        {% endif %}
                    </h6>
                </div>
                <div class="row mb-0">
                    <h6 class="name">Avg. Rating: 
                        {% if book_reviews_found %}
                            {{ book_reviews_count }}
                        {% else %}
                            <em>n/a</em>
                        {% endif %}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Form Section -->
    <div class="row mt-3 mb-0">
        <form action="." class="col s12 grey-text text-darken-4" method="GET">
            <div class="row center-align">
                <div class="col s12 m6">
                    <div class="input-field col s6">
                        <select name="sort-option">
                            <option value="" disabled selected>By Date</option>
                            <option value="review_id">Oldest First</option>
                            <option value="-review_id">Newest First</option>
                        </select>
                        <label>Sort by Date</label>
                    </div>
                    <div class="input-field col s6">
                        <button id="search_button" type="submit" class="waves-effect waves-light btn grey darken-4 amber-text text-lighten-3">
                            <span class="row valign-wrapper">
                                <span class="hide-on-small-only">Sort </span>
                                <i class="material-icons">sort</i>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="input-field col s6">
                        <select name="filter-option">
                            <option value="" disabled selected>Rating</option>
                            <option value="1">1 Star</option>
                            <option value="2">2 Stars</option>
                            <option value="3">3 Stars</option>
                            <option value="4">4 Stars</option>
                            <option value="5">5 Stars</option>
                        </select>
                        <label>Filter by Rating</label>
                    </div>
                    <div class="input-field col s6">
                        <button id="search_button" type="submit" class="waves-effect waves-light btn grey darken-4 amber-text text-lighten-3">
                            <span class="row valign-wrapper">
                                <span class="hide-on-small-only">Filter </span>
                                <i class="material-icons">filter_alt</i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Reviews Loop Display -->
    {% if book_reviews_found %}
    {% for review in book_reviews_found %}
    <div class="divider amber lighten-3"></div>
    <div class="row mt-3">
        <a href="{% url 'user_reviews' review.user.username %}">
            <div class="col s12 m4 l3 center grey-text text-darken-4 review-user">
                <div class="row mb-0">
                    <img class="circle amber accent-1 z-depth-2" src="{{ MEDIA_URL }}{{ review.user.userprofile.pic_url }}" height="50" width="50" alt="profile-pic">
                </div>
                <div class="row mb-0">
                    <span class="name">{{ review.user.username }}</span>
                </div>
                <div class="row mb-0">
                    <span class="name">Nº Reviews: {{ review.get_total_user_rw }}</span>
                </div>
                <div class="row mb-0">
                    <span class="name">Avg. Rating: {{ review.get_avg_user_rw|floatformat:2 }}</span>
                </div>
            </div>
        </a>
        <div class="col s12 m7 l8 offset-m1 offset-l1">
            <div class="row mb-0">
                <span class="left"><em>{{ review.datestamp }}</em></span>
                <span class="pr-3 right">{{ review.rating }}/5.00</span>
            </div>
            <div class="row m-0 pb-1 pt-1 mb-0">
                <div class="container text">
                    {{ review.review_text }}
                </div>  
                {% if request.user.username == review.user.username %}                    
                <div class="row mb-0">
                    <div class="col s9 offset-s3 mt-3">
                        <a class="indigo-text text-accent-2" href="">
                            <em  class="hide-on-small-only">Edit Review</em>
                            <i class="material-icons rigth">edit</i>
                        </a>
                        <a class="red-text text-accent-4 right" href="{% url 'delete_review' review.review_id %}">
                            <em  class="hide-on-small-only">Delete Review</em>
                            <i class="material-icons rigth">delete_forever</i>
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row center-align">
        <h6><em>This book has no reviews yet...</em></h6>
    </div>
    {% endif %}
    <!-- Buttons Section -->
    <div class="row mt-3 right-align">
        <div class="col s6 offset-s6 mt-3">
            <a href="#top" class="waves-effect waves-light btn-small grey darken-4 amber-text text-lighten-3">
                <div class="row valign-wrapper">
                    <span class="hide-on-small-only">Back to Top</span>
                    <i class="material-icons">vertical_align_top</i>
                </div>
            </a>
        </div>
    </div>
    <!-- New Comment Gap -->
    {% if user.is_authenticated %}
    <div class="row mt-3 center-align new-comment-form">
        <form class="container" action="." method="POST">
            {% csrf_token %}
            {{ form }}
            <div class="mt-3">
                <button type="submit" class="btn-small grey darken-4 amber-text text-lighten-3">
                    Send Review
                </button>
            </div>
        </form>
    </div>
    {% endif %}
</div>
<!-- JS inits and meter-bars -->
<script>
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>
{% endblock %}
