{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container grey-text text-darken-4">
    <!-- Title -->
    <div class="row mb-0">
        <div class="col s12 center">
            <h4><strong>Top Rankings</strong></h4>
        </div>
    </div>
    <!-- Ranks Display -->
    <div class="row mb-0 pb-3">
		<!-- Book Reviews -->
		<div class="col s12 mt-3">
			<table class="container mb-3 highlight z-depth-1 grey lighten-5">
				<tr class="amber lighten-4">
					<th>#</th>
					<th>Most Reviewed Books</th>
					<th class="right-align"><em>Count</em></th>
				</tr>
				{% for book in top_rw_book %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td class="hover-effect-button">
						<a class="grey-text text-darken-4" href="{% url 'book_detail' book.book_id %}">
							{{ book.title }}
						</a>
					</td>
					<td class="right-align">{{ book.ratings_count }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<!-- Book Average -->
		<div class="col s12 mt-3">
			<table class="container mb-3 highlight z-depth-1 grey lighten-5">
				<tr class="amber lighten-4">
					<th>#</th>
					<th>Best Rated Books</th>
					<th class="right-align"><em>Avg.</em></th>
				</tr>
				{% for book in top_avg_book %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td class="hover-effect-button">
						<a class="grey-text text-darken-4" href="{% url 'book_detail' book.book_id %}">
							{{ book.title }}
						</a>
					</td>
					<td class="right-align">{{ book.average_rating }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<!-- User Reviews -->
		<div class="col s12 mt-3">
			<table class="container mb-3 highlight z-depth-1 grey lighten-5">
				<tr class="amber lighten-4">
					<th>#</th>
					<th>Top Reviewers</th>
					<th class="right-align"><em>Reviews</em></th>
				</tr>
				{% for profile in rw_user %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td class="hover-effect-button">
						<a class="grey-text text-darken-4" href="{% url 'user_reviews' profile.user__username %}">
							{{ profile.user__username }}
						</a>
					</td>
					<td class="right-align">{{ profile.count }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
    </div>
</div>
{% endblock %}