{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container grey-text text-darken-4">
    <!-- Profile Info -->
    <div class="row mt-3">
        <form class="col s12 center-align" action="." method="POST">
            {% csrf_token %}
            <div class="row">
                <fieldset>
                    <legend>Basic Info</legend>
                    <div class="input-field col s12 m6 offset-m3">
                        <i class="material-icons prefix">account_circle</i>
                        {{ user_form.username }}
                    </div>
                    <div class="input-field col s12 m6 offset-m3">
                        <i class="material-icons prefix">alternate_email</i>
                        {{ user_form.email }}
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Customize Your Profile</legend>
                    <div class="center-align mt-3">
                        <img class="circle grey" src="{{ MEDIA_URL }}{{ user_profile.pic_url }}" height="150" width="150" alt="profile-pic">
                    </div>
                    <div class="input-field col s12 m6 offset-m3">
                        {{ profile_form.pic_url }}
                    </div>
                    <div class="input-field col s12 m6 offset-m3">
                        <i class="material-icons large">history_edu</i>
                        <div class="switch">
                            <label>
                                {{ profile_form.is_writer }}
                                <span class="lever"></span>
                            Are you a Writer? <em>(comming soon)</em>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="btn-small grey darken-4" href="{% url 'update_profile' user.username %}">
                <em>Update My Profile</em>
            </button>
        </form>
    </div>
</div>
<!-- JS inits and meter-bars -->
<script type="text/javascript">
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>
{% endblock %}
