{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container grey-text text-darken-4">
    <!-- Profile Info -->
    <div class="row mt-3">
        <form class="col s12 center-align" action="{% url 'update_profile' user.username %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <fieldset class="grey lighten-5 z-depth-2">
                    <legend>Basic Info</legend>
                    <div class="input-field col s12 m6 offset-m3">
                        <i class="material-icons prefix">account_circle</i>
                        {{ user_form.username }}
                    </div>
                    <div class="input-field col s12 m6 offset-m3">
                        <i class="material-icons prefix">alternate_email</i>
                        {{ user_form.email }}
                    </div>
                </fieldset>
                <fieldset class="grey lighten-5 z-depth-2 mt-3">
                    <legend>Customize Your Profile</legend>
                    <div class="center-align mt-3">
                        <img id="display-profile-pic" class="circle amber accent-1 z-depth-2" src="{{ MEDIA_URL }}{{ user_profile.pic_url }}" height="150" width="150" alt="profile-pic">
                    </div>
                    <div class="input-field col s12 m6 offset-m3">
                        {{ profile_form.pic_url }}
                    </div>
                    <div class="input-field col s12 m6 offset-m3">
                        <i class="material-icons large">history_edu</i>
                        <div class="switch">
                            <label>
                                {{ profile_form.is_writer }}
                                <span class="lever"></span>
                                Are you a Writer? <em>(Comming Soon)</em>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="hover-effect-button">
                <button type="submit" class="btn-small grey darken-4">
                    <em>Update My Profile</em>
                </button>
            </div>
        </form>
    </div>
</div>
<!-- JS inits and meter-bars -->
<script type="text/javascript">
    $(document).ready(function(){
        $('select').formSelect();
        $('#select-img').on('change', function() {
            imageSelected = this.value;
            $('#display-profile-pic').attr('src', '{{ MEDIA_URL }}'+imageSelected);
        })
    });
</script>
{% endblock %}
