/* General */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.sans-pro-font {
    font-family: 'Source Sans Pro', sans-serif;
}

.m-0 {
    margin: 0 !important;
}

.mt-0 {
    margin-top: 0;
}

.mt-3 {
    margin-top: 27px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-3 {
    margin-bottom: 27px;
}

.p-1 {
    padding: 6px;
}

.p-2 {
    padding: 12px;
}

.pt-1 {
    padding-top: 10px;
}

.pb-1 {
    padding-bottom: 10px;
}

.pb-3 {
    padding-bottom: 27px;
}

.pl-3 {
    padding-left: 27px;
}

.pr-3 {
    padding-right: 27px;
}

/* AllAuth */

p a {
    color: #FF6F00;
}

form a {
    color: #FF6F00;
}

.allauth-container {
    display: grid;
    max-width: 550px;
    justify-content: center;
}

.allauth-container form {
    padding-bottom: 27px;
}

.allauth-container i input {
    color: #ffe082;
}

/* Header */

.header-wrapper {
    min-height: 112px;
}

.brand-logo {
    font-weight: 900;
    letter-spacing: 2px;
    word-spacing: 14px;
}

/* SideNav */

.sidenav-trigger {
    float: right !important;
}

.sidenav {
    width: 240px;
}

/* Home */

.parallax-top {
    height: 381px;
}

.parallax-split{
    height: 270px;
}

.parallax-slogan {
    padding: 5px !important;
    transform: skewX(-20deg);
}

.carousel {
    height: 400px;
    margin-top: -87px;
}

.carousel img {
    height: 270px;
}

.slogan-cta span {
    font-size: 90%;
}

.slogan-cta-distributor {
    margin: 0;
    padding: 20px;
    width: 100%;
}

.feats-container {
    width: 90%;
}

/* Footer */

.page-footer ul {
    display: flex;
    justify-content: space-between;
}

/* Books */

.card-title {
    font-size: 140% !important;
}

.card-image {
    min-height: 70%;
}

.card-image img {
    height: 280px;
}

.card-content i {
    position: absolute;
    right: 5px;
}

.card-reveal i {
    position: absolute;
    right: 5px;
    top: 5px;
}

.pagination li a {
    color: #212121;
}

.pagination li.active {
    background-color: #212121;
}

.pagination li.active a {
    color: #ffe082;
}

/* Book Details */

.book-detail-image {
    height: 250px;
}

.info-data {
    font-size: 110%;
    font-weight: 600;
    padding-left: 9px;
}

.sinopsis-display {
    border: none;
    box-shadow: none;
}

.collapsible-header-bdetails { 
    background-color: transparent;
    border: none;
    padding: 0;
}

.collapsible-body-bdetails {
    border: none;
    text-align: justify;
    padding: 15px;
}

/* meter bars for ratings based on: https://css-tricks.com/css3-progress-bars/ */
.meter {
    color: #212121;
    font-size: 14px;
    font-style: italic;
    height: 20px;
    width:100%;
    margin-bottom: 1.6px;
	position: relative;
	background: transparent;
}

.meter > span {
    background-color: #212121;
    display: block;
    height: 100%;
    padding: 0 !important;
}

.rating-number {
    display: none;
}

.review-user {
    border-right: 1px solid #212121;
}

.new-comment-form {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14),
                0 5px 1px -2px rgba(0,0,0,0.12),
                0 1px 5px 0 rgba(0,0,0,0.2);
    padding: 25px;
}

.new-comment-form li>span {
    color: #212121;
    font-style: italic;
}

.new-comment-form .select-wrapper,
.new-comment-form .select-wrapper input,
.new-comment-form .select-wrapper ul,
.new-comment-form .select-wrapper li {
    margin: 0 auto;
    max-width: 100px;
    text-align: center;
}

/* Profile */

.edit-button {
    display: flex;
    justify-content: flex-end;
}

.reserved-books-section {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14),
                0 5px 1px -2px rgba(0,0,0,0.12),
                0 1px 5px 0 rgba(0,0,0,0.2);
}

.collapsible {
    border: none;
}

.collapsible-header-preview {
    border: none;
    border-bottom: 1px solid #212121;
    padding: 8px;
}

.collapsible-body-preview {
    border: none;
    padding: 15px;
    text-align: justify;
}

.anchor-with-icons {
    display: inline-flex;
}

fieldset {
    border: none;
}

fieldset legend {
    font-style: italic;
    position: relative;
    top: 15px;
}

/* -------------- Hover Effects -------------- */

.page-footer ul li a:hover,
.footer-copyright div a:hover,
a:hover span,
a:hover .material-icons,
.input-field button span:hover,
.hover-effect-button a:hover,
.hover-effect-button button:hover,
.anchor-with-icons:hover {
    color: #FF6F00 !important;
}

/* -------------- Media Queries -------------- */

@media screen and (max-width: 600px) {
    .card-full-div {
        display: flex;
        justify-content: center;
    }

    .card {
        width: 250px;
    }

    .review-user {
        border: none;
    }
}

@media screen and (min-width: 480px) {
    .header-wrapper {
        min-height: auto;
    }

    .rating-number {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .brand-logo {
        padding-left: 5vh !important;
    }
}