/* header */

.header-wrapper {
    min-height: 112px;
}

.brand-logo {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    word-spacing: 14px;
}

/* sidenav */

.sidenav-trigger {
    float: right !important;
}

.sidenav {
    width: 250px;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* -------------- MEDIA QUERIES -------------- */

@media screen and (min-width: 480px) {
    .header-wrapper {
        min-height: auto;
    }
}

@media screen and (min-width: 992px) {
    .brand-logo {
        padding-left: 5vh !important;
    }
}