{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <!-- Message -->
    <div class="row mt-3 center payment-container">
        <div class="col s12">
            <div class="container grey lighten-5 z-depth-2">
                <div>
                    <img class="circle mt-3" src="{{ MEDIA_URL }}bookimages.png" alt="books.img" height=250>
                    <h6>Subscription Succesfull, Thanks!!</h6>
                    <p class="p-2">You can now promote books from the each book page</p>
                </div>
                <div class="center-align mt-3 pb-3 hover-effect-button">
                    <a class="btn-small grey darken-4 amber-text text-lighten-3" href="{% url 'profile' %}">
                        Back to Your Profile
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
