{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container grey-text text-darken-4">
    <!-- Title -->
    <div class="row mb-0">
        <div class="col s12 center">
            <h4><strong>Subscription Plans</strong></h4>
        </div>
    </div>
    {% if user.is_authenticated and user.userprofile.has_sub %}
    <div class="row mt-3 center payment-container">
        <div class="col s12 container grey lighten-5 z-depth-2">
            <div class="row p-2">
                <h6>You are already Subscripted, wait for your sub to end in:
                    <p class="info-data">{{ user.userprofile.sub_until }}</p>
                </h6>
            </div>
            <div class="mt-3 hover-effect-button">
                <a class="btn-small mb-3 grey darken-4 amber-text text-lighten-3" href="{% url 'profile' %}">
                    Check your Profile
                </a>
                <a class="btn-small mb-3 grey darken-4 amber-text text-lighten-3" href="{% url 'all_books' %}">
                    Search for Books
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <!-- Offers -->
    <div class="row center offers-row">
        <div class="col s12 m4 mt-3">
            <div class="grey lighten-5 z-depth-2 offer-card">
                <div class="grey darken-4 amber-text text-lighten-3 offer-title">
                    <h6>
                        <strong>Single Month</strong>
                    </h6>
                </div>
                <div class="container grey lighten-5">
                    <div class="row p-2 offer-description">
                        <p>
                            Join ARC for a month and promote the books you want!
                        </p>
                    </div>
                    <div class="row">
                        <h6>
                            <strong>20 €</strong>/one month
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 mt-3">
            <div class="grey lighten-5 z-depth-2 offer-card">
                <div class="grey darken-4 amber-text text-lighten-3 offer-title">
                    <h6>
                        <strong>Half Year</strong>
                    </h6>
                </div>
                <div class="container grey lighten-5">
                    <div class="row p-2 offer-description">
                        <p>
                            Get reduced price paying the half year in advance!
                        </p>
                    </div>
                    <div class="row">
                        <h6>
                            <strong>80 €</strong>/half year
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m4 mt-3">
            <div class="grey lighten-5 z-depth-2 offer-card">
                <div class="grey darken-4 amber-text text-lighten-3 offer-title">
                    <h6>
                        <strong>Full Year</strong>
                    </h6>
                </div>
                <div class="container grey lighten-5">
                    <div class="row p-2 offer-description">
                        <p>
                            Get the best price paying the whole year in advance!
                        </p>
                    </div>
                    <div class="row">
                        <h6>
                            <strong>100 €</strong>/one year
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CTA if logged -->
    <div class="container row mt-3 mb-3 center hover-effect-button">            
        {% if user.is_authenticated %}
        <form class="container" action="{% url 'payment_process' %}" method="POST">
        {% csrf_token %}
            <div class="mb-3 input-field">
                <select name="subscription" class="input-field col s12">
                    <option selected value="onemonth">Single Month</option>
                    <option value="halfyear">Half Year</option>
                    <option value="oneyear">Full Year</option>
                </select>
                <label>Select a Subscription Plan</label>
            </div>
            <button type="submit" class="btn-small grey darken-4 amber-text text-lighten-3">
                Promote Me!
            </button>
        </form>
        {% else %}
        <a class="btn-small grey darken-4 amber-text text-lighten-3" href="{% url 'account_login' %}">
            Log In Now!
        </a>
        {% endif %}
    </div>
    {% endif %}
</div>
<!-- JS inits and meter-bars -->
<script>
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>
{% endblock %}
