{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container grey-text text-darken-4">
    <!-- Title -->
    <div class="row mb-0 center">
        <h5>Subscription Offers</h5>
    </div>
    <!-- Offers -->
    <div class="row mb-0 grey darken-4 center">
        <div class="col s12 m4 amber-text text-lighten-3">
            <p>Offer 1</p>
        </div>
        <div class="col s12 m4 amber-text text-lighten-3">
            <p>Offer 2</p>
        </div>
        <div class="col s12 m4 amber-text text-lighten-3">
            <p>Offer 3</p>
        </div>
    </div>
    <!-- CTA if logged -->
    <div class="row mb-0 pb-1 grey darken-3 center">            
        <a href="{% url 'subscriptions' %}" class="amber lighten-3 grey-text text-darken-4">
            <strong>Promote Me!</strong>
        </a>
    </div>
</div>
<!-- JS inits and meter-bars -->
<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
{% endblock %}
