{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <!-- Search Form Section -->
    <div class="row mt-3 mb-0">
        <form action="{% url 'search_books' %}" class="col s12 grey-text text-darken-4" method="GET">
            <div class="row center-align">
                <div class="input-field col s10">
                    <i class="material-icons prefix">library_books</i>
                    <input id="book_search" type="text" class="validate" name="book_search">
                    <label for="book_search">Search by Author or Title</label>
                </div>
                <div class="input-field col s2 right-align">
                    <button id="search_button" type="submit" class="waves-effect waves-light btn grey darken-4 amber-text text-lighten-3">
                        <span class="row valign-wrapper">
                            <span class="hide-on-small-only">Search </span>
                            <i class="material-icons">search</i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- Book Cards Loop -->
    <div class="row">
        {% for book in paginated_books %}
        <div class="col s12 m4 l3 card-full-div">
            <div class="card medium grey darken-4 hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ book.image_url }}" alt="book-cover">
                </div>
                <div class="card-content amber-text text-lighten-3">
                    <span class="card-title truncate activator"><strong>{{ book.title }}</strong>
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <span>
                        <a class="amber-text text-lighten-4" href="{% url 'book_detail' book.book_id %}">See Full Details ></a>
                    </span>
                </div>
                <div class="card-reveal amber lighten-3 grey-text text-darken-4">
                    <span class="card-title"><strong>{{ book.title }}</strong>
                        <i class="material-icons right">close</i>
                    </span>
                    <p><strong>Author(s):</strong> {{ book.authors }}</p>
                    <p><strong>Year:</strong> {{ book.publication_year }}</p>
                    <p><strong>Rating:</strong> {{ book.average_rating }}</p>
                    <span>
                        <a class="grey-text text-darken-4 mt-3" href="{% url 'book_detail' book.book_id %}">
                            <strong>See Full Details ></strong>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Pagination Section -->
        <ul class="col s12 pagination center-align">
            {% if paginated_books.has_previous %}
            <li class="mt-3">
                <a href="?{{ page_request }}={{ paginated_books.previous_page_number }}">
                    <i class="material-icons">chevron_left</i>
                </a>
            </li>
            <li class="waves-effect mt-3">
                <a href="?{{ page_request }}={{ paginated_books.previous_page_number }}">
                    {{ paginated_books.previous_page_number }}
                </a>
            </li>
            {% endif %}
            <li class="active mt-3">
                <a href="?{{ page_request }}={{ paginated_books.number }}">
                    {{ paginated_books.number }}
                </a>
            </li>
            {% if paginated_books.has_next %}
            <li class="waves-effect mt-3">
                <a href="?{{ page_request }}={{ paginated_books.next_page_number }}">
                    {{ paginated_books.next_page_number }}
                </a>
            </li>
            <li class="waves-effect mt-3">
                <a href="?{{ page_request }}={{ paginated_books.next_page_number }}">
                    <i class="material-icons">chevron_right</i>
                </a>
            </li>
            {% endif %}
        </ul>        
    </div>
</div>

<!-- JS options and inits -->
<script type="text/javascript">
        $("#search_button").on("click", function() {
            var query = $("#book_search").val();
        
            if ($.trim(query) === '') {
                return false;
            }
        });
</script>

{% endblock %}
