{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container grey-text text-darken-4">
    <!-- Book Title -->
    <div class="row mb-0">
        <div class="col s12 center">
            <h4><strong>{{ book.title }}</strong></h4>
        </div>
    </div>
    <div class="divider grey darken-2"></div>
    <!-- Book Info -->
    <div class="row mt-3 mb-0">
        <div class="col s12 m4">
            <div class="row center-align">
                <img class="book-detail-image" src="{{ book.image_url }}" alt="book-cover">
            </div>
        </div>
        <div class="col s12 m8">
            <div class="row pl-3">
                <p class="mt-0"><strong>Av. Rating:</strong> {{ book.average_rating }}/5.00</p>
                <p><strong>Author(s):</strong> {{ book.authors }}</p>
                <p><strong>Year:</strong> {{ book.publication_year }}</p>
                <p><strong>Editions:</strong> {{ book.books_count }}</p>
                <p><strong>Language:</strong> {{ book.language_code }}</p>
                <div>
                    <ul class="collapsible mt-0 mb-0 sinopsis-display">
                        <li>
                            <div class="collapsible-header collapsible-header-bdetails">
                                <strong>Sinopsis:</strong>
                                <span class="light right"><em>&nbsp;&nbsp;Read It Here</em></span>
                                <i class="material-icons right">arrow_drop_down</i>
                            </div>
                            <div class="collapsible-body collapsible-body-bdetails">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sollicitudin nisi sapien,
                                    finibus dictum sapien tempus et. Nunc ultricies consectetur vulputate. Praesent eget nibh turpis.
                                    Aenean dictum dolor urna, eu aliquam augue tristique sit amet. Aliquam in laoreet erat.
                                    Quisque ac urna eget massa rutrum posuere. Duis aliquam enim porttitor, imperdiet nulla quis,
                                    accumsan lorem. Aenean sed sem et nunc sagittis congue. Etiam non metus nec diam tempus porttitor.
                                    Integer non congue massa.
                                </p>
                                <p>
                                    Curabitur vel molestie arcu. Praesent ac est at mi volutpat mattis. Quisque magna tellus, imperdiet
                                    vel tempor non, consequat sed nisi. Sed sodales, est volutpat blandit molestie, odio nibh porttitor
                                    augue, ut gravida leo diam sagittis mauris. Donec ipsum lectus, molestie cursus neque sed, bibendum
                                    rutrum neque. Aenean eleifend felis felis, nec lacinia ligula tempor vitae. Maecenas sit amet
                                    porttitor sem. Praesent blandit dapibus elit id interdum. Phasellus eu orci nisi.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="center-align mb-3">
                <a class="btn-small grey darken-4 amber-text text-lighten-3" href="{% url 'ask_book' book.book_id %}">
                    Ask for the Book
                </a>
            </div>
        </div>
    </div>
    <div class="divider grey darken-2"></div>
    <!-- Book Reviews -->
    <div class="row mb-0 amber lighten-3">
        <div class="col s12 center-align">
            <h5>Reviews - ({{ book.ratings_count }})</h5>
        </div>
    </div>
    <!-- Ratings Display -->
    <div class="row mb-0 pb-1 amber lighten-4">
        <div class="row mb-0 pb-1 center-align">
            Average Rating: <strong> {{ book.average_rating }}/5.00 </strong>
        </div>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="col s6 right-align">
                <div class="row mb-0">
                    <i class="tiny material-icons">star</i>
                    <i class="tiny material-icons">star</i>
                    <i class="tiny material-icons">star</i>
                    <i class="tiny material-icons">star</i>
                    <i class="tiny material-icons">star</i>
                </div>
                <div class="row mb-0">
                    <i class="tiny material-icons">star</i>
                    <i class="tiny material-icons">star</i>
                    <i class="tiny material-icons">star</i>
                    <i class="tiny material-icons">star</i>
                </div>
                <div class="row mb-0">
                    <i class="tiny material-icons">star</i>
                    <i class="tiny material-icons">star</i>
                    <i class="tiny material-icons">star</i>
                </div>
                <div class="row mb-0">
                    <i class="tiny material-icons">star</i>
                    <i class="tiny material-icons">star</i>
                </div>
                <div class="row mb-0">
                    <i class="tiny material-icons">star</i>
                </div>
            </div>
            <div class="col s5 offset-s1">
                <div class="row mb-0 meter">
                    <span class="col s9" id="r5"></span>
                    <div class="col s2 rating-number">{{ book.ratings_5 }}</div>
                </div>
                <div class="row mb-0 meter">
                    <span class="col s9" id="r4"></span>
                    <div class="col s2 rating-number">{{ book.ratings_4 }}</div>
                </div>
                <div class="row mb-0 meter">
                    <span class="col s9" id="r3"></span>
                    <div class="col s2 rating-number">{{ book.ratings_3 }}</div>
                </div>
                <div class="row mb-0 meter">
                    <span class="col s9" id="r2"></span>
                    <div class="col s2 rating-number">{{ book.ratings_2 }}</div>
                </div>
                <div class="row mb-0 meter">
                    <span class="col s9" id="r1"></span>
                    <div class="col s2 rating-number">{{ book.ratings_1 }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider grey darken-2 mb-3"></div>
    <!-- Reviews Loop Display -->
    <div class="row mb-0 center-align">
        <h5>Lastest Reviews
            {% if book.get_reviews %}
            <em> - (showing max. 3)</em>
            {% endif %}
        </h5>
    </div>
    {% if book.get_reviews %}
    {% for review in book.get_reviews %}
    <div class="divider amber lighten-4"></div>
    <div class="row mt-3">
        <div class="col s12 m4 l3 center grey-text text-darken-4 review-user">
            <div class="row mb-0">
                <img class="circle" src="{{ MEDIA_URL }}home-hero.png" height="50" width="50" alt="profile-pic">
            </div>
            <div class="row mb-0">
                <span class="name">{{ review.user.username }}</span>
            </div>
            <div class="row mb-0">
                <span class="name">Nº Reviews: {{ review.get_total_user_rw }}</span>
            </div>
            <div class="row mb-0">
                <span class="name">Avg. Rating: {{ review.get_avg_user_rw|floatformat:2 }}</span>
            </div>
        </div>
        <div class="col s12 m7 l8 offset-m1 offset-l1">
            <div class="row mb-0">
                <span class="left"><em>{{ review.datestamp }}</em></span>
                <span class="pr-3 right">{{ review.rating }}/5.00</span>
            </div>
            <div class="row mt-3 mb-0">
                <span class="text">{{ review.review_text }}</span>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="mb-3 center-align">
        <a class="btn-small grey darken-4 amber-text text-lighten-3" href="{% url 'book_reviews' book.book_id %}">
            See All Reviews
        </a>
    </div>
    {% else %}
    <div class="row center-align">
        <h6><em>This book has no reviews yet...</em></h6>
    </div>
    {% endif %}
    <!-- New Comment Gap -->
    {% if user.is_authenticated %}
    <div class="row mt-3 center-align new-comment-form">
        <form class="container" action="." method="POST">
            {% csrf_token %}
            {{ form }}
            <div class="mt-3">
                <button type="submit" class="btn-small grey darken-4 amber-text text-lighten-3">
                    Send Review
                </button>
            </div>
        </form>
    </div>
    {% endif %}
</div>
<!-- JS inits and meter-bars -->
<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();
        $('select').formSelect();
        var percentage = Math.round((("{{ book.ratings_5 }}"/"{{ book.ratings_count }}") * 100)) +"%";
        $('#r5').css({"width": percentage});
        var percentage = Math.round((("{{ book.ratings_4 }}"/"{{ book.ratings_count }}") * 100)) +"%";
        $('#r4').css({"width": percentage});
        var percentage = Math.round((("{{ book.ratings_3 }}"/"{{ book.ratings_count }}") * 100)) +"%";
        $('#r3').css({"width": percentage});
        var percentage = Math.round((("{{ book.ratings_2 }}"/"{{ book.ratings_count }}") * 100)) +"%";
        $('#r2').css({"width": percentage});
        var percentage = Math.round((("{{ book.ratings_1 }}"/"{{ book.ratings_count }}") * 100)) +"%";
        $('#r1').css({"width": percentage});
    });
</script>
{% endblock %}
